{% extends "mooncakeTestEnvironment\page.html" %}
{% block title %}
    <title>{{service_name}}文档 | Azure</title>
{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="/static/mooncakeTestEnvironment/style/frame2.css" />
    <script type="text/javascript" src="/static/mooncakeTestEnvironment/script/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/static/mooncakeTestEnvironment/script/responsive.js"></script>
{% endblock %}

{% block content %}
    <script>
        amp.options.flashSS.swf = "http://amp.azure.net/libs/amp/1.1.1/techs/StrobeMediaPlayback.2.0.swf";
        amp.options.flashSS.plugin = "http://amp.azure.net/libs/amp/1.1.1/techs/MSAdaptiveStreamingPlugin-osmf2.0.swf";
        amp.options.silverlightSS.xap = "http://amp.azure.net/libs/amp/1.1.1/techs/SmoothStreamingPlayer.xap";
        var navigationJsonStr = '{% autoescape off %}{{navigationJson}}{% endautoescape %}'
		var activeActicleId = null;
        var pageId = null;
        function renderNavigation(navigationJsonStr, activeActicleId) {
            navigationJson = JSON.parse(navigationJsonStr);
            mainDiv = document.getElementById("wa-navigationLeft");

            serviceTitle = document.createElement("a");
            serviceTitle.id = navigationJson.id;
            serviceTitle.innerHTML = navigationJson.service;
            serviceTitle.className = "toggler";
            mainDiv.appendChild(serviceTitle);

            mainUl = document.createElement("ul");
            mainUl.className = "toggled";
            mainDiv.appendChild(mainUl);

            for (var i = 0; i < navigationJson.navigation.length; i++) {
                groupLi = document.createElement("li");
                groupLi.id = navigationJson.navigation[i].id + "_header";
                groupLi.setAttribute("data-control", "toggle");
                groupLi.setAttribute("data-tag-name", navigationJson.navigation[i].id);
                groupLi.setAttribute("data-service-name", navigationJson.id);
                mainUl.appendChild(groupLi);
                groupTitle = document.createElement("a");
                groupTitle.setAttribute("onclick", "show('" + navigationJson.navigation[i].id + "_header" + "')");
                groupTitle.innerHTML = navigationJson.navigation[i].group;
                groupTitle.className = "toggler";
                groupLi.appendChild(groupTitle);
                groupUl = document.createElement("ul");
                groupUl.id = navigationJson.navigation[i].id;
                groupUl.className = "toggled";
                groupLi.appendChild(groupUl);
                for (var j = 0; j < navigationJson.navigation[i].articles.length; j++) {
                    articleLi = document.createElement("li");
                    groupUl.appendChild(articleLi);
                    articleLink = document.createElement("a");
                    articleLink.href = navigationJson.navigation[i].articles[j].link;
                    articleLink.innerHTML = navigationJson.navigation[i].articles[j].title;
                    articleLink.id = navigationJson.navigation[i].articles[j].id;
                    articleLink.setAttribute("data-link-service-name", navigationJson.id);
                    articleLink.setAttribute("data-link-tag-name", navigationJson.navigation[i].articles[j].id);
                    articleLi.appendChild(articleLink);
                }
            }
            if (activeActicleId == null) {
                document.getElementById(navigationJson.navigation[0].id + "_header").className = "active open";
                pageId = navigationJson.navigation[0].id + "_header";
            }
            else {
                for (var i = 0; i < navigationJson.navigation.length; i++) {
                    for (var j = 0; j < navigationJson.navigation[i].articles.length; j++) {
                        if (navigationJson.navigation[i].articles[j].id == activeActicleId) {
                            document.getElementById(navigationJson.navigation[i].id + "_header").className = "active open";
                            pageId = navigationJson.navigation[i].id + "_header";
                            document.getElementById(activeActicleId).style.color = "#00abec";
                            break;
                        }
                    }
                }
            }
        }
        function dropdownSelectChange() {
            dropdownSelect = document.getElementById('dropdown-cta');
            contentSelected = document.getElementById('wa-dropdown-value');
            document.getElementById('wa-button-link').href = dropdownSelect.value;
            contentSelected.innerHTML = dropdownSelect.options[dropdownSelect.selectedIndex].innerHTML;
        }

        // show article-content when click on link
        $(function () {
            $(".wa-arrowLink.wa-arrowLink-blue").click(function () {
                $(this).attr('style', 'display:none');
                $(this).siblings(".article-content").removeAttr('style');
            });
        });
    </script>
    <style>
        .old-main-container {
            width: 100% !important;
            padding: 0 0px !important;
        }
    </style>
    <div class="wa-container-documentation wa-container-nested-documentation">
        <section class="wa-section wa-section-micro">
            <div class="wa-content wa-content-documentation wa-content-4up">
                <div class="wa-spacer wa-spacer-docSide">
                    <div id="wa-navigationLeft" class="wa-navigationLeft" data-control="toggle">

                    </div>
                    <script>
                        renderNavigation(navigationJsonStr, activeActicleId);
                    </script>
                </div>
                <div class="wa-spacer wa-spacer-3down wa-spacer-docContent">
                    <div class="wa-content">
                        <h1>
                            {{service_name}}文档
                        </h1>
                        <h5>
                            {{subtitle}}
                        </h5>
                        <label for="dropdown-cta" class="wa-dropdown-label">{{tutorial_message}}</label>
                        {% if options|length == 1 %}
                            <p class="tutorial-label">
                                {{first_option_title}}
                                <a class="wa-button wa-button-primary wa-button-mini" href="{{first_option_link}}" data-linker="cta">
                                    入门教程
                                </a>
                            </p>
                        {% else %}
                            <div class="wa-dropdown-container wa-dropdown-medium">
                                <select id="dropdown-cta" class="wa-dropdown" data-control="dropdown dropdown-linker" data-linker="cta" onchange="dropdownSelectChange()">
                                    {% for option in options %}
                                    <option value="{{option.link}}">
                                        {{option.title}}
                                    </option>
                                    {% endfor %}
                                </select>
                                <script>
                                checkDropdownMenuHasMoreThanOneOption();
                                </script>
                                <span id="wa-dropdown-value" class="wa-dropdown-value">{{first_option_title}}</span><span class="wa-dropdown-arrow"></span>
                            </div>
                            <a id="wa-button-link" data-service-name="virtual-machines" href="{{first_option_link}}" class="wa-button wa-button-primary wa-button-mini" data-linker="cta">入门教程</a>
                        {% endif %}
                    </div>
                    <div class="wa-content wa-content-divided sub-hero-heading">
                        <h2>
                            {{service_name}}视频
                        </h2>
                    </div>
                    <div class="wa-content wa-content-3up">
                        {% for videoLink in videoLinks%}
                            <div class="wa-spacer">
                                <a href="{{videoLink.video_url}}" data-control="" data-expanding="false" class="wa-video-thumbnail _storage-video-popup" title="{{videoLink.title}}">
                                    <img src="/static/mooncakeTestEnvironment/img/{{videoLink.title}}.png" alt="{{videoLink.title}}" class="thumbnail" />
                                    <img class="play-icon" src="/static/mooncakeTestEnvironment/img/VideoPlay.png" />
                                    <span class="metadata">
                                        <span class="date">
                                            <span>{{videoLink.publish_time}}</span>
                                            <span>{{videoLink.duration}}</span>
                                        </span>
                                    </span>
                                </a>
                                <p>
                                    {{videoLink.description}}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    <script src="/static/mooncakeTestEnvironmentvideo-center_files/videocenter.js"></script>
                    <div class="wa-content">
                        <a href="/video-center/" class="wa-arrowLink">观看更多视频</a>
                    </div>
                    <div class="wa-content wa-content-divided">
                        <h2>
                            最新{{service_name}}更新 <a href=""><span class="wa-icon wa-icon-misc-rss"></span></a>
                        </h2>
                    </div>
                    <div class="wa-content wa-content-3up">
                    {% for recent in recentUpdates %}
                        <div class="wa-content wa-content-3up">
                            <div class="wa-serviceUpdate">
                                <h4>
                                    {{recent.title}}
                                </h4>
                                <p class="article-date">
                                    {{recent.date}}
                                </p>
                                <p>
                                    {{recent.description}}
                                </p>
                                <p class="article-content" style="display:none">
                                    {{recent.detail}}
                                </p>
                                <a class="wa-arrowLink wa-arrowLink-blue" href="javascript:void(0);">了解更多</a>
                            </div>
                            <a href=""></a>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="wa-content">
                        <a href="{{update_search_link}}" class="wa-arrowLink">查看更多服务更新</a>
                    </div>
                </div>
            </div>
        
        </section>
    </div>

{% endblock %}