                            <div class="wa-serviceUpdate">
                                <h4 id="edit_recent_title{{counter}}"><textarea style="width:85%;" placeholder="请输入更新的标题"></textarea>
                                    <a title="编辑" href="javascript:editField('edit_recent_title{{counter}}', 'text')">
                                        <img style="width:20px;height:20px;margin-bottom:0px" src="/static/mooncakeTestEnvironment/img/edit.png">
                                    </a>
                                    <a title="删除" href="javascript:deleteField('edit_recent_update{{counter}}')">
                                        <img style="width:20px;height:20px;margin-bottom:0px" src="/static/mooncakeTestEnvironment/img/delete.png">
                                    </a>
                                </h4>
                                <p class="article-date" id="edit_recent_date{{counter}}"><textarea style="width:85%;" placeholder="请输入更新的日期， 如：2015年03月31日"></textarea>
                                    <a title="编辑" href="javascript:editField('edit_recent_date{{counter}}', 'text')">
                                        <img style="width:20px;height:20px;margin-bottom:0px" src="/static/mooncakeTestEnvironment/img/edit.png">
                                    </a>
                                    
                                </p>
                                <p id="edit_recent_description{{counter}}"><textarea style="width:85%;" placeholder="请输入更新的描述"></textarea>
                                    <a title="编辑" href="javascript:editField('edit_recent_description{{counter}}', 'text')">
                                        <img style="width:20px;height:20px;margin-bottom:0px" src="/static/mooncakeTestEnvironment/img/edit.png">
                                    </a>
                                    
                                </p>
                                <p class="article-content" id="edit_recent_detail{{counter}}"><textarea style="width:85%;" placeholder="请输入更新的细节"></textarea>
                                    <a title="编辑" href="javascript:editField('edit_recent_detail{{counter}}', 'text')">
                                        <img style="width:20px;height:20px;margin-bottom:0px" src="/static/mooncakeTestEnvironment/img/edit.png">
                                    </a>
                                    
                                </p>
                                <a class="wa-arrowLink wa-arrowLink-blue" style="display:none" href="javascript:void(0);">了解更多</a>
                            </div>