html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	margin: 0;
	line-height: 1.231
}

body,select {
	font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
	color: #222
}

a {
	color: #00e
}

a:hover {
	color: #06e
}

a:focus {
	outline: thin dotted
}

a:hover,a:active {
	outline: 0
}

ul {
	margin: 1em 0;
	padding: 0 0 0 40px
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle
}

label {
	cursor: pointer
}

select {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

a, a:link, a:visited {
    color:#00a3d9;
}

@media print {
	* {
		background: transparent!important;
		color: #000!important;
		text-shadow: none!important;
		filter: none!important;
		-ms-filter: none!important
	}

	a,a:visited {
		text-decoration: underline
	}

	a[href]:after {
		content: " (" attr(href) ")"
	}

	abbr[title]:after {
		content: " (" attr(title) ")"
	}

	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: ""
	}

	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid
	}

	thead {
		display: table-header-group
	}

	tr,img {
		page-break-inside: avoid
	}

	img {
		max-width: 100%!important
	}

    @page {
		margin: .5cm
	}

	p,h2 {
		orphans: 3;
		widows: 3
	}

	h2 {
		page-break-after: avoid
	}
}

@media screen {
	.str {
		color: maroon
	}

	.kwd {
		color: #00008b
	}

	.com {
		color: green
	}

	.typ {
		color: #2b91af
	}

	.lit {
		color: maroon
	}

	.opn,.clo {
		color: #660
	}

	.pun,.pln {
		color: #000
	}

	.tag {
		color: maroon
	}

	.atn {
		color: red
	}

	.atv {
		color: #00f
	}

	.dec {
		color: purple
	}

	.var {
		color: #606
	}

	.fun {
		color: red
	}
}

@media print,projection {
	.str {
		color: #060
	}

	.kwd {
		color: #006;
		font-weight: bold
	}

	.com {
		color: #600;
		font-style: italic
	}

	.typ {
		color: #404;
		font-weight: bold
	}

	.lit {
		color: #044
	}

	.pun,.opn,.clo {
		color: #440
	}

	.tag {
		color: #006;
		font-weight: bold
	}

	.atn {
		color: #404
	}

	.atv {
		color: #060
	}
}

body {
	background: transparent;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5em;
	color: #505050
}

a {
	color: #00abec;
	text-decoration: none;
}

a:active,a:hover {
	color: #0072c6;
	text-decoration: none;
}

section {
	clear: both
}

img {
	max-width: 100%
}

ul ul {
	margin: 0;
	padding-bottom: 0
}

ul li:last-child {
	margin-bottom: 0
}

ul {
	padding-left: 17px
}

p {
	margin-bottom: 9px;
	margin-top: 9px;
	font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
	font-weight: 400;
	font-size: 14px !important;
	line-height: 1.5em;
	color: #5e6d81
}

h1,h2 {
	margin: 0 0 12px;
	font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial, !important;
	font-weight: 400;
	font-size: 32px;
	line-height: 1.2em;
	color: #323a45, !important
}

h4 {
	margin: 0 0 12px;
	font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2em;
	color: #323a45
}

h5 {
	margin: 0 0 8px;
	font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2em;
	color: #5e6d81
}

p,li {
	font-size: 16px;
    font-weight:400;
}


@media only screen and (min-width:45em) {
	h1 {
		margin: 0 0 12px;
		font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial !important;
		font-weight: 400;
		font-size: 36px;
		line-height: 1.2em;
		color: #323a45
	}

	h1.wa-heading-W08,.wa-heading-W08 {
		color: #68217a
	}

	h2 {
		margin: 0 0 12px;
		font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
		font-weight: 400;
		font-size: 30px;
		line-height: 1.2em;
		color: #323a45
	}
}

label {
	cursor: pointer;
	display: block;
	vertical-align: middle
}

select {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
	border: 2px solid #dedede;
	color: #3e3d4d;
	font-size: 1.2em;
	height: 35px;
	line-height: 1.2;
	outline: none;
	padding: 5px;
	width: 100%
}

.wa-button {
	font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2em;
	color: #fff;
	border: 0;
	display: block;
	line-height: 33px;
	text-align: center;
	vertical-align: bottom;
	background-color: #89c402;
	padding: 6px 20px 9px
}

.wa-button:hover {
	background-color: #a5ce00;
	color: #fff;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out
}

.wa-button-primary {
	font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2em;
	color: #fff;
	background-color: #89c402;
	border: 0;
	display: block;
	line-height: 33px;
	padding: 6px 20px 9px;
	text-align: center;
	vertical-align: bottom;
	padding: 6px 45px 9px 20px;
	position: relative
}

.wa-button-primary:hover {
	background-color: #a5ce00;
	color: #fff;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out
}

.wa-button-primary:after {
	content: "";
	display: inline-block;
	height: 28px;
	margin-top: -14px;
	position: absolute;
	right: 15px;
	top: 50%;
	width: 16px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAbCAYAAAB1NA+iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAABRSURBVDhPY/j//78AEDcAsQEDuQCoOQGI348aggCjhmCCUUMwAVAzKPOBDFGAChEPQDZDNc+HChEPRjWTCEY1kwgo1QyqmdYDcT9UiATAwAAA8wwclpvxEbIAAAAASUVORK5CYII=');
	background-repeat: no-repeat
}

.wa-button-primary.wa-button-mini {
	padding-right: 30px
}

.wa-button-primary.wa-button-mini:after {
	display: block;
	content: "";
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	background-image: none;
	border-color: #fff;
	border-style: solid;
	border-width: 0 1px 1px 0;
	margin: 0;
	padding: 0;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 18px
}

.wa-dropdown-container+.wa-button {
	margin-top: 15px
}

@media only screen and (min-width:45em) {
	.wa-button {
		display: inline-block
	}

	.wa-button-mini {
		font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5em;
		color: #fff;
		padding: 1px 8px 3px
	}

	.wa-button-primary.wa-button-mini:after {
		top: 8px
	}

	.feedback-fancy .wa-button-mini {
		color: #00abec
	}
}

.wa-dropdown-label {
	margin-right: 14px;
    color:#323a45
}

.wa-dropdown-container {
	background: #fff;
	border: 2px solid #dedede;
	display: block;
	padding-right: 30px;
	position: relative;
	vertical-align: middle
}

.wa-dropdown-container .wa-dropdown {
	background: transparent;
	border: none;
	font-size: 14px;
	filter: alpha(opacity=0);
	height: 25px;
	opacity: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 10
}

.wa-dropdown-container .wa-dropdown-value {
    font-family: Microsoft YaHei, 'Segoe UI', Helvetica, Arial,黑体 !important;
	display: inline-block;
	line-height: 25px;
	padding-left: 10px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    color:#00a3d9
}

.wa-dropdown-container .wa-dropdown-arrow {
	display: block;
	font-size: 0;
	height: 25px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	zoom: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"
}

.wa-dropdown-container .wa-dropdown-arrow:before {
	border-color: #dedede;
	border-style: solid;
	border-width: 0 2px 2px 0;
	box-sizing: border-box;
	content: "";
	display: block;
	height: 7px;
	margin: 0;
	padding: 0;
	width: 7px;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -5px;
	margin-top: -5px
}

.wa-dropdown-container:hover .wa-dropdown-arrow:before {
	border-color: #00abec
}

.wa-dropdown-arrow:before {
	border-color: #dedede
}

.wa-dropdown-arrow:before {
	border-color: #00abec
}

@media only screen and (min-width:61.25em) {
	.wa-dropdown-container {
		display: inline-block
	}

	.wa-dropdown-container.wa-dropdown-small .wa-dropdown-value {
		width: 105px
	}

	.wa-dropdown-container.wa-dropdown-medium .wa-dropdown-value {
		width: auto
	}

	.wa-dropdown-container.wa-dropdown-large .wa-dropdown-value {
		width: 180px
	}

	.wa-dropdownList.wa-dropdownList-noLines {
		border: none
	}
}

.wa-navigationLeft {
	background-color: #eee;
	margin-left: -4%;
	margin-right: -4%;
	margin-top: -20px!important;
	position: relative
}

.wa-navigationLeft:after {
	clear: both;
	content: "";
	display: table
}

.wa-navigationLeft:after {
	content: "+";
	font-size: 30px;
	position: absolute;
	right: 15px;
	top: 12px
}

.wa-navigationLeft.open:after {
	content: "–";
	right: 18px;
	top: 11px
}
.wa-navigationLeft>a {
	font-family: Microsoft YaHei, Hiragino sans-serif GB, 黑体, Light;
	font-size: 40px;
	line-height: 1.2em;
	color: #89919c;
	display: block;
	padding: 14px 15px 12px
}
@media only screen and (min-width:61.25em) {
    .wa-navigationLeft > a {
        font-family: Microsoft YaHei, 黑体, Segoe UI, Helvetica, Arial;
        font-size: 14px;
        line-height: 1.2em;
        color: #89919c;
        display: block;
        padding: 14px 15px 12px;
    }
}
.wa-navigationLeft>ul {
	margin: 0
}

.wa-navigationLeft>ul>li {
	border-bottom: 1px solid #fff;
	border-left: 3px solid #eee
}

.wa-navigationLeft>ul>li:first-child {
	border-top: 1px solid #fff
}



.wa-navigationLeft>ul>li[data-control="toggle"]>a {
    font-size: 20px;
    font-family:Microsoft YaHei, Hiragoino sans GB, 黑体;
    color:#5e6d81;
    position: relative
}
@media only screen and (min-width:61.25em) {
    .wa-navigationLeft>ul>li[data-control="toggle"]>a {
	    color: #89919c;
	    position: relative;
        font-size: 14px;
    }
}


.wa-navigationLeft>ul>li[data-control="toggle"]>a:before {
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAYAAAArkDztAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAElJREFUeNpiCAgISGDAApg1NDTOA7EDED+8cePGA5gEI1DHfySFC4C4ccOGDQ/QJUDgAxBPZGLAAVjQ+HCjYBIHoAIHYCoAAgwA+4sZshXM1Q0AAAAASUVORK5CYII=');
	background-repeat: no-repeat;
	content: "";
	display: block;
	height: 7px;
	left: 7px;
	position: absolute;
	top: 16px;
	width: 6px
}

.wa-navigationLeft>ul>li>a {
	display: block;
	line-height: 20px;
	min-height: 20px;
	padding: 10px 15px 10px 20px
}

.wa-navigationLeft>ul>li>a:hover {
	cursor: pointer;
}

.wa-navigationLeft>ul>li ul {
	padding: 0 15px 10px 20px
}
.wa-navigationLeft > ul > li li a {
    font-size: 24px;
    font-weight:lighter;
    font-family:Microsoft YaHei, Segoe UI, Helvetica, Arial, 黑体;
    line-height: 1.2em;
    color: #323a45;
    display: inline-block;
    margin: 3px 0;
    padding: 2px 0;
}
@media only screen and (min-width:61.25em) {
    .wa-navigationLeft > ul > li li a {
        font-size: 12px;
        line-height: 1.2em;
        color: #505050;
        display: inline-block;
        margin: 3px 0;
        padding: 2px 0;
        font-weight:500;
    }
}


.wa-navigationLeft>ul>li.open>a:before {
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.wa-navigationLeft>ul>li.active {
	background-color: #e6f7fd;
	border-left-color: #00abec
}

.wa-navigationLeft ul {
	display: none;
	list-style: none;
	padding: 0
}

.wa-navigationLeft ul li {
	margin: 0
}

@media only screen and (min-width:61.25em) {
	.wa-navigationLeft {
		margin-left: 0;
		margin-right: 0
	}

	.wa-navigationLeft:after {
		content: "";
		display: none
	}

	.wa-navigationLeft a:hover {
		color: #969696
	}

	.wa-navigationLeft>ul.toggled {
		display: block
	}
}

[data-control="toggle"].open>.toggled {
	display: block
}

[data-control="toggle"]>.toggled {
	display: none
}

.wa-video-thumbnail {
	background-color: transparent;
	display: block;
	overflow: hidden;
	position: relative
}

.wa-video-thumbnail .thumbnail {
	min-width: 100%;
	max-width: 100%
}

.wa-video-thumbnail .play-icon {
	height: 40px;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
	opacity: .45;
	position: absolute;
	top: 50%;
	width: 40px
}

.wa-video-thumbnail .metadata {
	background-color: #1a1a1a;
	bottom: 0;
	color: #fff;
	left: 0;
	right: 0;
	opacity: .7;
	overflow: hidden;
	padding: 7.5px 15px;
	position: absolute
}

.wa-video-thumbnail .date {
	display: block
}

.wa-video-thumbnail .date:after {
	clear: both;
	content: "";
	display: table
}

.wa-video-thumbnail .date span {
	float: right;
	font-size: 10px
}

.wa-video-thumbnail .date span:first-child {
	float: left
}

.wa-video-thumbnail:hover {
	opacity: .85;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out
}

@media only screen and (min-width:45em) {
	.wa-video-thumbnail .date span {
		font-size: 12px;
        font-family:Tahoma;
	}
}

@media only screen and (min-width:61.25em) {
	.wa-video-thumbnail .wa-webinar-video-thumbnail {
		width: 225px;
		height: 126px
	}
}

.wa-arrowLink {
	color: #505050;
	display: block;
	position: relative
}

.wa-arrowLink:after {
	content: "▶";
	padding-left: 4px;
	font-size: 10px
}

.wa-arrowLink:hover {
	color: #505050;
	opacity: .7
}

.wa-arrowLink-blue {
	color: #00abec;
	position: relative
}

.wa-arrowLink-blue:after {
	content: "▶";
	padding-left: 4px;
	font-size: 10px
}

.wa-arrowLink-blue:hover {
	color: #0072c6
}

@media only screen and (min-width:45em) {
	.wa-arrowLink {
		display: inline-block
	}
}

.wa-content {
	margin-left: 4%;
	margin-right: 4%;
	position: relative;
	width: 92%;
	z-index: 1
}

.wa-content:after {
	clear: both;
	content: "";
	display: table
}

.wa-content>:first-child {
	margin-top: 0
}

.wa-content>:last-child {
	margin-bottom: 0
}

.wa-content+.wa-content {
	margin-top: 4%
}

.wa-content .wa-content {
	margin-top: 30px;
	margin-left: 0;
	margin-right: 0;
	width: 100%
}

@media only screen and (min-width:61.25em) {
	.wa-content {
		margin: 0 auto;
		width: 960px
	}

	.wa-content code {
		-ms-word-break: break-word;
		word-break: break-word
	}

	.wa-content-foreground {
		z-index: 2
	}

	.wa-spacer .wa-content .wa-spacer {
		width: 49%
	}

	.wa-spacer .wa-content-3up .wa-spacer,.wa-content-3up .wa-spacer {
		width: 32%
	}

	.wa-spacer .wa-content-3up .wa-spacer.wa-spacer-2down,.wa-content-3up .wa-spacer.wa-spacer-2down {
		width: 66%
	}

	.wa-spacer .wa-content-3up .wa-spacer-aside,.wa-content-3up .wa-spacer-aside {
		width: 29%
	}

	.wa-spacer .wa-content-3up .wa-spacer-aside.wa-spacer-2down,.wa-content-3up .wa-spacer-aside.wa-spacer-2down {
		width: 63%
	}

	.wa-spacer .wa-content-4up .wa-spacer,.wa-content-4up .wa-spacer {
		width: 23.5%
	}

	.wa-spacer .wa-content-4up .wa-spacer.wa-spacer-3down,.wa-content-4up .wa-spacer.wa-spacer-3down {
		width: 74.5%
	}

	.wa-spacer .wa-content-4up .wa-spacer.wa-spacer-2down,.wa-content-4up .wa-spacer.wa-spacer-2down {
		width: 49%
	}

	.wa-spacer .wa-content-4up .wa-spacer-aside,.wa-content-4up .wa-spacer-aside {
		width: 20.5%
	}

	.wa-spacer .wa-content-4up .wa-spacer-aside.wa-spacer-3down,.wa-content-4up .wa-spacer-aside.wa-spacer-3down {
		width: 71.5%
	}

	.wa-spacer .wa-content-4up .wa-spacer-aside.wa-spacer-2down,.wa-content-4up .wa-spacer-aside.wa-spacer-2down {
		width: 46%
	}

	.wa-spacer .wa-content-10up .wa-spacer,.wa-content-10up .wa-spacer {
		width: 8.2%
	}

	.wa-spacer .wa-content-10up .wa-spacer.wa-spacer-9down,.wa-content-10up .wa-spacer.wa-spacer-9down {
		width: 89.8%
	}

	.wa-spacer .wa-content-10up .wa-spacer.wa-spacer-8down,.wa-content-10up .wa-spacer.wa-spacer-8down {
		width: 79.6%
	}

	.wa-spacer .wa-content-10up .wa-spacer.wa-spacer-7down,.wa-content-10up .wa-spacer.wa-spacer-7down {
		width: 69.4%
	}

	.wa-spacer .wa-content-10up .wa-spacer.wa-spacer-6down,.wa-content-10up .wa-spacer.wa-spacer-6down {
		width: 59.2%
	}

	.wa-spacer .wa-content-10up .wa-spacer.wa-spacer-5down,.wa-content-10up .wa-spacer.wa-spacer-5down {
		width: 49%
	}

	.wa-spacer .wa-content-10up .wa-spacer.wa-spacer-4down,.wa-content-10up .wa-spacer.wa-spacer-4down {
		width: 38.8%
	}

	.wa-spacer .wa-content-10up .wa-spacer.wa-spacer-3down,.wa-content-10up .wa-spacer.wa-spacer-3down {
		width: 28.6%
	}

	.wa-spacer .wa-content-10up .wa-spacer.wa-spacer-2down,.wa-content-10up .wa-spacer.wa-spacer-2down {
		width: 18.4%
	}

	.wa-spacer .wa-content-10up .wa-spacer-aside,.wa-content-10up .wa-spacer-aside {
		width: 5.2%
	}

	.wa-spacer .wa-content-10up .wa-spacer-aside.wa-spacer-9down,.wa-content-10up .wa-spacer-aside.wa-spacer-9down {
		width: 86.8%
	}

	.wa-spacer .wa-content-10up .wa-spacer-aside.wa-spacer-8down,.wa-content-10up .wa-spacer-aside.wa-spacer-8down {
		width: 76.6%
	}

	.wa-spacer .wa-content-10up .wa-spacer-aside.wa-spacer-7down,.wa-content-10up .wa-spacer-aside.wa-spacer-7down {
		width: 66.4%
	}

	.wa-spacer .wa-content-10up .wa-spacer-aside.wa-spacer-6down,.wa-content-10up .wa-spacer-aside.wa-spacer-6down {
		width: 56.2%
	}

	.wa-spacer .wa-content-10up .wa-spacer-aside.wa-spacer-5down,.wa-content-10up .wa-spacer-aside.wa-spacer-5down {
		width: 46%
	}

	.wa-spacer .wa-content-10up .wa-spacer-aside.wa-spacer-4down,.wa-content-10up .wa-spacer-aside.wa-spacer-4down {
		width: 35.8%
	}

	.wa-spacer .wa-content-10up .wa-spacer-aside.wa-spacer-3down,.wa-content-10up .wa-spacer-aside.wa-spacer-3down {
		width: 25.6%
	}

	.wa-spacer .wa-content-10up .wa-spacer-aside.wa-spacer-2down,.wa-content-10up .wa-spacer-aside.wa-spacer-2down {
		width: 15.4%
	}

	.wa-content-tabsOverlap {
		margin-top: -40px
	}

	.wa-content+.wa-content,.wa-content+.wa-tabs-container {
		margin-top: 30px
	}

	.wa-content+.wa-content-divided {
		border-top: 1px solid #dedede;
		padding-top: 30px
	}

	.wa-content+.wa-content-micro {
		margin-top: 10px
	}

	.wa-content+.wa-content-micro.wa-content-divided {
		padding-top: 10px
	}
}

.wa-spacer {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 4%;
	min-height: 1px;
	width: 100%
}

.wa-spacer>:first-child {
	margin-top: 0
}

.wa-spacer>:last-child {
	margin-bottom: 0
}

@media only screen and (min-width:61.25em) {
	.wa-spacer {
		margin: 0;
		margin-top: 0;
		width: 49%
	}

	.wa-spacer+.wa-spacer {
		margin-left: 2%
	}

	.wa-spacer-secondary {
		float: right
	}

	.wa-spacer-aside {
		width: 46%;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #dedede;
		padding-left: 2%
	}

	.wa-spacer-aside.wa-spacer-asideLight {
		border-left-color: #fff
	}

	.wa-spacer-overflow {
		overflow: visible
	}

	.wa-spacer-overflow img {
		max-width: none
	}

	.wa-spacer>.wa-homeSprite:first-child:last-child {
		display: block
	}

	.wa-spacer>img:first-child:last-child {
		display: block;
		margin: 0 auto
	}

	.wa-spacer-marginSwap {
		margin-left: 0!important;
		margin-right: 2%
	}

	.wa-spacer-fullWidth {
		height: auto;
		margin-left: 0;
		width: 100%!important
	}
}

.wa-content-documentation .wa-navigationLeft {
	margin-top: -15px!important
}

@media only screen and (min-width:45em) {

	.wa-tags>li {
		font-size: 12px;
		line-height: 1.2em;
		color: #505050
	}
}

@media only screen and (min-width:61.25em) {
  [	data-control="feedback-vote-container"]:first-of-type {
		display: block
	}

	.wa-container-article .wa-content-article.wa-content-4up .wa-spacer-docSide,.wa-container-documentation .wa-content-article.wa-content-4up .wa-spacer-docSide,.wa-container-article .wa-content-documentation.wa-content-4up .wa-spacer-docSide,.wa-container-documentation .wa-content-documentation.wa-content-4up .wa-spacer-docSide {
		width: 183px
	}

	.wa-container-article .wa-content-article.wa-content-4up .wa-spacer-docContent,.wa-container-documentation .wa-content-article.wa-content-4up .wa-spacer-docContent,.wa-container-article .wa-content-documentation.wa-content-4up .wa-spacer-docContent,.wa-container-documentation .wa-content-documentation.wa-content-4up .wa-spacer-docContent {
		margin-left: 11px;
		width: 766px
	}

	.wa-container-article .wa-content-article.wa-content-4up .wa-spacer-docContent .wa-serviceUpdate img,.wa-container-documentation .wa-content-article.wa-content-4up .wa-spacer-docContent .wa-serviceUpdate img,.wa-container-article .wa-content-documentation.wa-content-4up .wa-spacer-docContent .wa-serviceUpdate img,.wa-container-documentation .wa-content-documentation.wa-content-4up .wa-spacer-docContent .wa-serviceUpdate img {
		float: right;
		margin: 0 0 20px 20px
	}

	.wa-container-documentation .wa-content-documentation .wa-spacer-docContent .wa-content:first-child {
		margin-bottom: 15px
	}

	.wa-container-documentation .wa-content-documentation .wa-spacer-docContent .wa-content:first-child .wa-button-primary {
		line-height: 1.8;
		min-height: 25px
	}

	.wa-container-documentation .wa-content-documentation .wa-spacer-docContent .sub-hero-heading {
		padding-top: 15px
	}

	.wa-container-documentation .wa-content-documentation .wa-spacer-docContent .wa-serviceUpdate p {
		display: block
	}

	.wa-container-documentation .wa-content-documentation .wa-spacer-docContent .wa-serviceUpdate .article-date {
		text-transform: uppercase;
		color: #969696
	}

	.wa-content.wa-content-divided.sub-hero-heading {
		border-top: 3px solid #dedede;
		margin-top: 0
	}

	.github-tooltip {
		position: relative
	}

	.github-tooltip:hover:before,.github-tooltip:active:before,.github-tooltip:focus:before,.github-tooltip:hover:after,.github-tooltip:active:after,.github-tooltip:focus:after {
		display: inline-block;
		text-decoration: none
	}

	.github-tooltip:before {
		position: absolute;
		z-index: 1000001;
		display: none;
		width: 0;
		height: 0;
		color: #000;
		color: rgba(0,0,0,.8);
		pointer-events: none;
		content: "";
		border: 5px solid transparent;
		top: auto;
		right: 50%;
		bottom: -5px;
		margin-right: -5px;
		border-bottom-color: rgba(0,0,0,.8)
	}

	.github-tooltip:after {
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
		-moz-transform: translate(50%,0) rotate(0);
		-ms-transform: translate(50%,0) rotate(0);
		-o-transform: translate(50%,0) rotate(0);
		-webkit-transform: translate(50%,0) rotate(0);
		transform: translate(50%,0) rotate(0);
		font: normal normal 11px/1.5 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
		position: absolute;
		z-index: 1000000;
		display: none;
		padding: 5px 8px;
		color: #fff;
		text-align: center;
		pointer-events: none;
		content: attr(aria-label);
		background: rgba(0,0,0,.8);
		border-radius: 3px;
		top: 100%;
		right: 50%;
		margin-top: 5px
	}
}

@media only screen and (min-width:1350px) {
	.wa-container-documentation.wa-container-nested-documentation .wa-content-documentation.wa-content-4up .wa-spacer-docContent {
		margin-left: 20px
	}

	.wa-container-documentation.wa-container-nested-documentation .wa-content-documentation.wa-content-4up .wa-spacer-docContent .wa-serviceUpdate img {
		float: right;
		margin: 0 0 20px 20px
	}

	.wa-container-article .wa-content-article.wa-content-4up,.wa-container-documentation .wa-content-article.wa-content-4up,.wa-container-article .wa-content-documentation.wa-content-4up,.wa-container-documentation .wa-content-documentation.wa-content-4up {
		width: 1200px
	}

	.wa-container-article .wa-content-article.wa-content-4up .wa-spacer-docSide,.wa-container-documentation .wa-content-article.wa-content-4up .wa-spacer-docSide,.wa-container-article .wa-content-documentation.wa-content-4up .wa-spacer-docSide,.wa-container-documentation .wa-content-documentation.wa-content-4up .wa-spacer-docSide {
		width: 183px
	}

	.wa-container-article .wa-content-article.wa-content-4up .wa-spacer-docContent,.wa-container-documentation .wa-content-article.wa-content-4up .wa-spacer-docContent,.wa-container-article .wa-content-documentation.wa-content-4up .wa-spacer-docContent,.wa-container-documentation .wa-content-documentation.wa-content-4up .wa-spacer-docContent {
		margin-left: 11px;
		position: relative;
		width: 960px
	}
}

@media print {
	.wa-container {
		padding: 0
	}

	header,#disqus_thread,.wa-spacer-docSide,.author-img,.contributors,.feedback-fancy.wa-section-feedback-vote.wa-feedback-vote {
		display: none!important
	}

	.wa-conditionalDisplay {
		display: none
	}

	.wa-conditionalDisplay .wa-content {
		margin: 0 0 0 50px
	}

	.wa-conditionalDisplay #need-help-light {
		padding: 0
	}

	.wa-note {
		border: none
	}

	.wa-content.wa-content-article.wa-content-4up {
		margin: 0;
		padding: 3rem
	}
}

.wa-button-mini, .wa-button-mini:link, .wa-button-mini:visited {
	text-decoration: none;
	color: white;
}

.wa-arrowLink, .wa-arrowLink:link, .wa-arrowLink:visited {
	text-decoration: none;
	color: #00a3d9;
}

.wa-arrowLink-blue, .wa-arrowLink-blue:link, .wa-arrowLink-blue:visited {
	text-decoration: none;
	color: #00abec;
}

.wa-serviceUpdate > p {
    font-size:14px !important;
}